@import url(https://fonts.googleapis.com/css?family=Raleway);

/* Modificações fora da publicação */
.blog-post-container h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 28px !important; /* 1 */

    /* O youKnow aplica font-size com mais especificidade. Por isso precisa do !important. */
}

.list-item-separator {
    margin-top: 32px;
    margin-bottom: 32px;
    height: 1px;
}
/* Fim de modificações fora da publicação */